./pymicros/__pycache__/__init__.cpython-35.pyc
./pymicros/mservice/__pycache__/COMWs.cpython-35.pyc
./pymicros/mservice/__pycache__/COMStomp.cpython-35.pyc
./pymicros/mservice/__pycache__/__init__.cpython-35.pyc
./pymicros/mservice/__pycache__/RegistryZKP.cpython-35.pyc
./pymicros/mservice/__pycache__/service.cpython-35.pyc
./pymicros/mservice/service.pyc
./pymicros/mservice/__init__.pyc
./pymicros/__init__.pyc
